.home {
    display: flex;
    caret-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #121213;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    caret-color: transparent; /* hides the text cursor by default */
}



    .home h1 {
        font-size: 48px;
        margin-bottom: 40px;
        color: white;
    }

    .home:focus-within {
        caret-color: auto; /* show cursor when any child (like an input) is focused */
    }
    .home button {
        width: 250px;
        padding: 20px;
        margin: 15px 0;
        background-color: #27ae60;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .home button:hover {
            background-color: #219150;
        }

@media (max-width: 600px) {
    .home h1 {
        font-size: 36px;
    }

    .home button {
        width: 200px;
        font-size: 18px;
    }
}